aws_profile = "SEU_PERFIL_SSO_AWS"

default_tags = {
  "EXEMPLO" = "VALOR_DA_TAG",
  "EXEMPLO" = "VALOR_DA_TAG",
  "EXEMPLO" = "VALOR_DA_TAG",
}

db_username = "USERNAME_DATABASE"

db_password = "SENHA_DATABASE"
